body{
    margin: 0;
    padding-top: 800px;
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome {
    position: absolute;
    overflow: hidden;
    height: 500px;
    color:coral;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity:0.83;
    background: linear-gradient(#FFD4DB 0%,#D3B5E5 100% );
    display: table;
    width: 100%;
    height: 65%;
}
h1{
    font-size: 40 px;
    line-height: 1.2;
    font-family:cursive,sans-serif;
    font-weight: 300;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
.line{
    height: 6px;
    background-color: deeppink;
    width: 70px;
    margin:8px auto;
}
.parallax-inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}